{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Group Project</title>
  </head>
  <body>
    <div ng-app='TicketBurst'>
      <div ng-view>
      </div>
    </div>

    <!-- FRAMEWORK SCRIPTS -->
    <script src='{% static "bower_components/angular/angular.min.js" %}'></script>
    <script src='{% static "bower_components/angular-route/angular-route.min.js" %}'></script>


    <!--  USER SCRIPTS-->
    <script src='{% static "app/app.js" %}'></script>
    <script src='{% static "app/config.js" %}'></script>
    <script src='{% static "app/scripts/login-ctrl.js" %}'></script>
    <script src='{% static "app/scripts/register-ctrl.js" %}'></script>
    <script src='{% static "app/scripts/event-ctrl.js" %}'></script>
    <script src='{% static "app/scripts/venue-ctrl.js" %}'></script>
    <script src='{% static "app/scripts/new-event-ctrl.js" %}'></script>
    <script src='{% static "app/scripts/new-venue-ctrl.js" %}'></script>
  </body>
</html>
