<h1>((events.app_name))</h1>

<button ng-click='events.logout()'>Logout</button>

<button ng-click='events.createEvent()'>Create Event</button>
<button ng-click='events.createVenue()'>Create Venue</button>

<div ng-repeat='event in events.allEvents'>
  <li>
    ((event.fields.event_name)) |
    When: ((event.fields.begin_date_time)) |
    Desc: ((event.fields.description)) |
    City: ((event.fields.city)) |
    $: ((event.fields.event_price))
    <button ng-click='events.buyTicket(event.pk)'>Buy Ticket</button>
  </li>
</div>
