<h1>Register</h1>
    <div>
        <label>Username</label>
        <input type="text" name="username" ng-model='register.userName'>
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password" ng-model='register.password'>
    </div>

    <div>
      <label>Email</label>
      <input type="email" name="email" ng-model='register.email'>
    </div>

    <div>
      <label>First Name</label>
      <input type="text" name="first_name" ng-model='register.firstName'>
    </div>

    <div>
      <label>Last Name</label>
      <input type="text" name="last_name" ng-model='register.lastName'>
    </div>
    <button ng-click='register.registerUser()'>Submit</button>
